<div class="book-item col-lg-4 col-md-4 col-sm-6">
  <div>
    <img alt="140x140"  src="http://placehold.it/320x220">
    <h2>Title</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
  </div>
  <a class="btn btn-book" href="#" role="button"><span class="glyphicon glyphicon-user"></span> Username <span class="glyphicon disable glyphicon-book"></span></a>
</div>